<!-- FOOTER -->
<section id="footer-sec" >
  <div class="container">
    <div class="row  pad-bottom" >
      <div class="col-md-4">
        <h4>ABOUT</h4>
        <p>Welcome to the Chicago Eco House! We are a group of compassionate people looking to make a difference in some of the roughest neighborhoods in Chicago.
        </p>
        <a href="#" >read more</a>
      </div>
      <div class="col-md-4">
        <h4>SOCIAL LINKS</h4>
        <p>
         <a href="https://www.facebook.com/ChicagoEcoHouse"><i class="fa fa-facebook-square fa-3x"></i></a>
        </p>
      </div>
      <div class="col-md-4">
        <h4>Chicago Eco House</h4>
        <p>PO BOX 47825, Chicago IL, 60647</p>
        <a href="mailto:chicagoecohouse@gmail.com" class="btn btn-primary">Contact Us</a>
      </div>
     </div>
  </div>
</section>
